/*.box {
  box-sizing: border-box;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
  border-radius: 3px;
  transition: all 500ms ease;
}*/
.box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
          box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: all 500ms ease;
     -moz-transition: all 500ms ease;
          transition: all 500ms ease;
}
