.box {
  box-sizing: border-box;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
  animation: spin 1s ease infinite;
  filter: blur(1px);
  display: flex;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
